body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  background-image: url("img_tree.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Trebuchet MS", Arial, Verdana;
  font-size: 30px;
  color: white;
  center: center-aligned;
  opacity: 0;
      transition: opacity 2s;
      -webkit-transition: opacity 2s; /* Safari */

}

lead {
  font-size: 30px;
}

div.box{
  display: flex;
  justify-content: space-around;
}
div.contrast h1{
  color: rgb(252, 255, 64);

}

h1 {
margin: 0 20px;
transition: 0.6s ease;
}
h1:hover {
font-size: 4.1em;
transition: 0.6s ease;
}


div#n2-ss-15 .n2-ss-slide{
	border:10px solid white;
	box-sizing:border-box!important;
}

div.image-wraper {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

/*took out lead class in p1*/

div#n2-ss-15 .n2-ss-slide{
	box-shadow: 0px 0px 10px 2px #7f7f7f;
}


#avocadopic:hover {
    transform: rotate(180deg);
    transition: 0.6s ease;

}

#thumb:hover {
    transform: rotate(180deg);
    transition: 0.6s ease;
}
div.popupboxes {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-around;

}
/* Start http://www.cursors-4u.com */ * {cursor: url(http://cur.cursors-4u.net/others/oth-7/oth705.cur), auto !important;} /* End http://www.cursors-4u.com */
