body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  background-image: url("img_tree.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Trebuchet MS", Arial, Verdana;
  font-size: 30px;
  color: white;
  center: center-aligned;
  opacity: 0;
      transition: opacity 2s;
      -webkit-transition: opacity 2s; /* Safari */

}
div.fixed-top{
  background: rgba(0, 0, 0, 0.53);
  max-width: 300px;
}

lead {
  font-size: 30px;
}

div.box{
  display: flex;
  justify-content: space-around;
}

div.avocadopic{
  width: 100%;
}
h1 {
margin: 0 20px;
transition: 0.6s ease;
}
h1:hover {
font-size: 4.1em;
transition: 0.6s ease;
}

h2 {
  font-size: 50px;
  color: yellow;
}
div.info-block-wrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
}
div.info-block-wrapper h1{
  color: rgb(252, 255, 64);
}
div.infoblock{
  width: 33%;
  flex: 1 1 0;
}

p.info, div.i_h_wrapper h1{
  text-align: center;
}

div#n2-ss-15 .n2-ss-slide{
	border:10px solid white;
	box-sizing:border-box!important;
}

div.image-wraper {
  display:flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}
div.image-wraper img{
  width: 300px
  max-width: 33%;
  height:auto;
}


div#n2-ss-15 .n2-ss-slide{
	box-shadow: 0px 0px 10px 2px #7f7f7f;
}
img#growth_pic{
  border-radius: 1em;
}

#avocadopic:hover {
    transform: rotate(180deg);
    transition: 0.6s ease;

}
img#thumb{
    margin-left: auto;
    margin-right: auto;
}
#thumb:hover {
    transform: rotate(360deg);
    transition: 2s ease;
}
div.slide{
    margin-left: auto;
    margin-right: auto;
}
div.popupboxes {
  width: 100%;
  display: flex;
  flex-direction: row;
}
div.popup{
  width: 33%;
  text-align: center;
}
h5#exampleModalLabel.modal-title {
  color: black;
}

modal-body{
    color: black;
    font-size: 15px;
}

div.click-for-more {
  display: inline-block;
a{
  color: pink;
}
/* Start http://www.cursors-4u.com */ * {cursor: url(http://cur.cursors-4u.net/others/oth-7/oth705.cur), auto !important;} /* End http://www.cursors-4u.com */

/* Responsive website */

@media only screen and (max-width: 768px) {
  #avocadopic{
    width: 50%;
    height: auto;
  }
  h1.display-1{
    font-size: 2em;
  }
  div.i_h_wrapper h1{
    font-size: 1em;
  }
  p.info{
    font-size: 0.8em;
  }
  div.info-block-wrapper{
    display: block;
  }
  div.infoblock{
    width: 100%;
  }
  div.col-sm{
    width: 100%;
  }
  div.col-sm img{
    width: 50%;
  }
  div.col-sm img#growth_pic{
    width: 100%;
    height: auto;
  }
  {box-sizing: border-box}


    input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }




  .cancelbtn {
    padding: 14px 20px;
    background-color: red;
  }
<<<<<<< HEAD

  .signupbtn {
    padding: 14px 20px;
    background-color: green;
  }

  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }

  /* Add padding to container elements */
  .container {
    padding: 16px;
  }

  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
      width: 100%;
}



ol {

    list-style: none;
    color: yellow;
    text-shadow: -0.5px -0.5px 0 #21004d, 0.5px -0.5px 0 #21004d, -0.5px 0.5px 0 #21004d, 0.5px 0.5px 0 #21004d;
    padding: 0;
    margin-bottom: 10%;
    font-size: 0.8em;
    display: flex;
    justify-content: space-evenly;

}
li#lower {

    margin-top: 4%;

}
li#lowest {

    margin-top: 8%;

}


li {
    margin: 0 20px
    transition: 1s ease;
}
li:hover {
    font-size: 1.1em;
    transition: 0.9s ease;
=======

  .signupbtn {
    padding: 14px 20px;
    background-color: green;
  }

  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }

  /* Add padding to container elements */
  .container {
    padding: 16px;
  }

  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
      width: 100%;
>>>>>>> ca0ae25b75f601cb8b144a965bec2d944282b6c0
}
