body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  background-image: url("img_tree.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Trebuchet MS", Arial, Verdana;
  font-size: 30px;
  color: white;
  center: center-aligned;
  opacity: 0;
      transition: opacity 2s;
      -webkit-transition: opacity 2s; /* Safari */

}
div.fixed-top{
  background: rgba(0, 0, 0, 0.53);
  max-width: 300px;
}

lead {
  font-size: 30px;
}

div.box{
  display: flex;
  justify-content: space-around;
}
div.contrast h1{
  color: rgb(252, 255, 64);

}

h1 {
margin: 0 20px;
transition: 0.6s ease;
}
h1:hover {
font-size: 4.1em;
transition: 0.6s ease;
}

h2 {
  font-size: 50px;
  color: yellow;
}

p.info, div.i_h_wrapper{
  width: 33%;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  margin: auto;
}

div#n2-ss-15 .n2-ss-slide{
	border:10px solid white;
	box-sizing:border-box!important;
}

div.image-wraper {
  display:flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

/*took out lead class in p1*/

div#n2-ss-15 .n2-ss-slide{
	box-shadow: 0px 0px 10px 2px #7f7f7f;
}
img#growth_pic{
  border-radius: 1em;
}

#avocadopic:hover {
    transform: rotate(180deg);
    transition: 0.6s ease;

}
img#thumb{
    margin-left: auto;
    margin-right: auto;
}
#thumb:hover {
    transform: rotate(360deg);
    transition: 2s ease;
}
div.slide{
    margin-left: auto;
    margin-right: auto;
}
modal-header {
  color: black;
}
modal-body {
    color: black;
    font-size: 15px;
}
a{
  color: pink;
}
/* Start http://www.cursors-4u.com */ * {cursor: url(http://cur.cursors-4u.net/others/oth-7/oth705.cur), auto !important;} /* End http://www.cursors-4u.com */
