body {
  padding-top: 2rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  background-image: url("img_tree.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}
h1 {
  font-size: 4rem;
  color: white;
  text-align: center;

}

p {
      width: 90%;
      margin: 2vh 5vw;
      font-size: 1em;
      text-align: left;

  }

  div {
          min-height: 5vh;
          width: 100vw;

    }
 a {
   color: pink;
}

#homebutton {
    margin: 2vh 2vw;
}
 br {

 }
 .btn {
     display: inline-block;
     padding: 6px 12px;
     margin: 2vh 2vw;
     font-size: 14px;
     font-weight: 400;
     line-height: 1.42857143;
     border: 1px solid transparent;
     border-radius: 4px;
     align-items: center;

   }
   #socialbuttons {
     display: flex;
     align-items: center;
     justify-content: center;
}
